.cv
    display: grid
    grid-template-columns: 30% 70%
    @include responsivetablet
            grid-template-columns: 35% 65%
    @include responsivephone
        display: flex
        flex-direction: column
    h2
            color: $csecundario
            font-family: $fprincipal
            font-size: 1.7rem
            font-weight: 600
            text-align: left
            margin: $sep/8 auto $sep/8 0
            width: 90%
            text-transform: uppercase
            
            &::after
                display: block
                content: ''
                height: .2rem
                border-radius: .1rem
                width: 100%
                background-color: $csecundario
            i
                font-size: 2.3rem
    .info-personal
        background-color: $cprincipal
        margin: $sep/3 0
        @include responsivephone
            margin: 0 auto
            width: 100%
        h2
            margin: $sep/4 auto

        .contenedor-imagen
            height: 12rem
            width: 12rem
            background-image: url("/build/img/Rafael-Correa.webp")
            background-repeat: no-repeat
            background-size: cover
            border-radius: 50%
            margin: $sep auto $sep/3 auto
        .perfil
            h1
                color: $csecundario
                font-family: $fprincipal
                font-size: 2.8rem
                font-weight: 500
                text-align: center
                text-transform: uppercase
            h3
                color: $claro
                font-family: $fprincipal
                font-size: 1.6rem
                font-weight: 500
                text-align: center
                margin: $sep/4 auto
            p
                width: 80%
                text-align: justify
                color: $claro
                font-family: $fprincipal
                margin: 0 auto
                font-weight: 400
                font-size: 1.3rem
        .contacto
            p 
                width: 90%
                text-align: justify
                color: $claro
                font-family: $fprincipal
                margin: $sep/5 auto
                font-weight: 400
                font-size: 1.5rem
            .links
                display: flex
                justify-content: center
                i
                    color: $claro
                    font-size: 3rem
                    text-align: center
                    margin: $sep/5 
        .ref-digital
            margin-top: 7rem
            p
                width: 80%
                text-align: justify
                color: $claro
                font-family: $fprincipal
                margin: 0 auto
                font-weight: 300
                font-size: 1rem
    main
        .contenedor-item
            margin: 0 auto $sep/4 $sep/5

            h3
                color: $cprincipal
                font-family: $fprincipal
                font-size: 1.4rem
                font-weight: 600
                text-align: left
                margin: 0
                width: 90%
                display: flex
                @include responsivephone
                    margin: 0 auto
                i
                    margin-right: $sep/4
                    display: none 
                    &.active 
                        display: block 
            h4
                color: $csecundario
                font-family: $fprincipal
                font-size: 1.2rem
                font-weight: 400
                text-align: left
                margin: 0
                width: 90%
                @include responsivephone
                    margin: 0 auto
            .fecha
                color: $cprincipal
                font-family: $fprincipal
                font-size: 1rem
                font-weight: 400
                text-align: left
                margin: 0
                width: 90%
                margin-bottom: $sep/3
                @include responsivephone
                    margin: 0 auto
            .description
                color: $oscuro
                font-family: $fprincipal
                font-size: 1rem
                font-weight: 300
                text-align: justify
                margin: 0 auto $sep/5 5%
                width: 90%
                i
                    color: $csecundario



.contenedor-skills
    width: 90%
    margin: auto
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    column-gap: $sep/4
    margin-bottom: $sep/2
    @include responsivetablet
        grid-template-columns: 1fr 1fr
    @include responsivephone
        grid-template-columns: 1fr

    h3
        grid-column-start: 1
        grid-column-end: -1
        color: $cprincipal
        font-family: $fprincipal
        font-size: 2.2rem
        font-weight: 500
        text-align: left
        margin: 0
        width: 100%
    h4
        color: $csecundario
        font-family: $fprincipal
        font-size: 1.6rem
        font-weight: 400
        text-align: left
        margin: $sep/10
        width: 90%
        @include responsivetablet
            
            font-size: 1.4rem
    p
        color: $csecundario
        font-family: $fprincipal
        font-size: 1.2rem
        font-weight: 300
        text-align: left
        margin: 0 auto
        width: 95%

    // .barra 
    //     width: 100%
    //     border: .4rem solid $cprincipal
    //     height: 1.5rem
    //     margin-bottom: $sep/5
    //     background-color: rgba(0,0,0,0)
    //     .llenado
    //         margin: auto
    //         width: 0%
    //         height: 100%
    //         margin-left: 0
    //         background-color: $csecundario

// .s1 
//     .barra .llenado
//         width: 100%
.skills, .idiomas
    .contenedor-skills
        h4
            color: $cprincipal
            span
                color: $csecundario



.container-cursos-grid
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: $sep/3
    .contenedor-item
        h3
            font-size: 1.1rem   !important
            width: 100% !important
        h4
            font-size: 1rem !important
            width: 100% !important
        .descripcion
            font-size: 0.9rem !important
            width: 100% !important
        



            
                 

                
